{% extends 'base.html' %}
{% block title %}Tracker List{% endblock %}


{% block contents %}

    <div class="container-fluid text-center width">
        <h1>Tracker List</h1>
        <a class="btn btn-primary" href="{{ model.get_create_url }}">Create Tracker</a>
        {% if object_list %}
            {% for object in object_list %}
                <h3><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
            {% endfor %}
        {% else %}
            {% include 'components/nothing.html' %}
        {% endif %}
        {% include 'components/paginator.html' %}
    </div>

{% endblock %}
