<div class="row">
    <div class="col-xl-3 col-md-6">
        <a href="{% url 'tracker:solved' %}" class="text-decoration-none">
            <div class="card bg-primary text-light text-center mb-4 p-3">
                <div class="card-body">
                    <h3>Solved Tickets</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="{% url 'tracker:closed' %}" class="text-decoration-none">
            <div class="card bg-success text-light text-center mb-4 p-3">
                <div class="card-body">
                    <h3>Closed Tickets</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="{% url 'tracker:pending' %}" class="text-decoration-none">
            <div class="card bg-warning text-light text-center mb-4 p-3">
                <div class="card-body">
                    <h3>Pending Tickets</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a href="{% url 'tracker:open' %}" class="text-decoration-none">
            <div class="card bg-danger text-light text-center mb-4 p-3">
                <div class="card-body">
                    <h3>Open Tickets</h3>
                </div>
            </div>
        </a>
    </div>
</div>